#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
}
/* .event-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px  0;

  .event {
      border-radius: 10px;
      width: 80%;

      &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
          img {
              transform: scale(1.1);
          }
      }
      
     
    
          
      
  }
} */